.search-a{
	font-weight: bold;color: white;margin-left: 10px;
}
.search-b{
	font-size:0.7rem;
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	background: #cecece;
	color: #b4b4b4;
	line-height: 1.2rem;
	text-align: center;
	font-weight: bold;
	margin-right: 0.5rem;
}
.search-span{
	display: block;float: right;line-height: 3rem;color: white;margin-left: 7px;font-size: 0.75rem
}
.search-h1{
	background-color: #005bac;color: #fff;font-weight: bold;line-height: 3rem;font-size: 0.9rem
}
.search-div{
	background-color: #fff
}
.search-span1{
	display: block;text-align: center;padding: 30px;font-size: larger;font-weight: bold;font-size: 0.75rem
}
.search-input{
	display: block;margin: auto;width: 90%;height: 57px;margin-top: 1px;border-radius: 10px;border: 2px solid #ccc;
}
.search-span2{
	display: block;text-align: center;width: 90%;margin: auto;margin-top: 30px;height: 57px;line-height: 57px;border-radius: 5px;background-color: #003d92;color: white;margin-bottom: 30px;font-size: 0.75rem;cursor:pointer;border: none;
}
.search-div1{
	width: 90%;border: 1px solid #bfbfbf;margin: auto;
}
.search-span3{
	display: block;text-align: center;padding: 20px;font-weight: bold;padding-bottom: 0px;font-size: 0.6rem;
}
.search-span4{
	display: block;text-align: center;padding: 15px;font-size: 0.6rem;
}
.search-div2{
	background-image: url(../images/inquiry.jpg);background-size: 100% 100%;width: 90%;margin: auto;height: 110px;
}
.search-span5{
	display: block;text-align: center;padding: 6.5px;color: white;font-size: 0.6rem;
}
.search-span6{
	display: block;text-align: center;padding: 12px;font-size: 1.8rem;color: #f60;
}
.search-span7{
	display: block;
    font-size: 0.75rem;
    padding: 15px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: #000;
    padding-top: 23px;
}